body {
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#4da0cf), color-stop(#3fb9ff), color-stop(#27658a), to(#2B32B2));
  background: linear-gradient(to right, #4da0cf, #3fb9ff, #27658a, #2B32B2);
  background-size: 400% 800%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: change 10s ease-in-out infinite;
          animation: change 10s ease-in-out infinite;
}

header {
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  position: relative;
  -webkit-animation: change 10s ease-in-out infinite;
          animation: change 10s ease-in-out infinite;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.3);
}

header nav .logo {
  padding: 15px 40px;
  font-family: 'Cute Font', cursive;
  font-size: 1.5em;
}

header nav ul {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 20px;
}

header nav ul li:nth-child(1) {
  border: 1px solid white;
  border-radius: 20px;
}

header nav ul li:hover {
  cursor: pointer;
}

header nav .toggle {
  display: none;
}

header .mobile-navbar {
  display: none;
}

header .box-area {
  margin: 0;
  list-style: none;
}

header .box-area li {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-animation: move 10s linear infinite;
          animation: move 10s linear infinite;
  bottom: 0px;
}

header .box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

header .box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

header .box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

header .box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

header .box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

header .box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }
  section {
    padding-bottom: 200px;
  }
  section nav .toggle {
    display: block;
    padding: 20px 40px;
  }
  section nav .toggle:hover {
    cursor: pointer;
  }
  section .mobile-navbar {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  section .mobile-navbar li {
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 0;
    border-bottom: 1px solid white;
  }
  section .mobile-navbar li:nth-child(1) {
    border-top: 1px solid white;
  }
}

.hero-section .profile-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 70px;
}

.hero-section .profile-img .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
}

.hero-section .typewriter {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero-section .typewriter h2 {
  font-size: 60px;
  color: white;
  padding-right: 10px;
  border-right: 1px solid white;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing infinite 5s steps(30, end), blink infinite 1s step-end;
          animation: typing infinite 5s steps(30, end), blink infinite 1s step-end;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.hero-section .scrolldown {
  margin: 0 auto;
  margin-top: 110px;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-80px) translateX(0) rotate(45deg);
          transform: translateY(-80px) translateX(0) rotate(45deg);
}

.hero-section .scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  -webkit-animation: animate infinite linear 1.5s;
          animation: animate infinite linear 1.5s;
  opacity: 0;
}

.hero-section .scrolldown span:nth-child(1) {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}

.hero-section .scrolldown span:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-delay: -.2s;
          animation-delay: -.2s;
}

.hero-section .scrolldown span:nth-child(3) {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@-webkit-keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(360deg);
            transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.about-me {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.wrapper .img {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 2px solid white;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  -webkit-box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
          box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
}

.wrapper .info-column {
  background: rgba(255, 255, 255, 0.3);
  padding: 30px 30px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  font-size: 20.8px;
  -webkit-box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
          box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
}

.wrapper .info-column h2 {
  font-family: 'Cute Font', cursive;
  font-size: 31.2px;
  text-transform: uppercase;
  text-decoration: underline;
}

@-webkit-keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 900px) {
  .about-me {
    margin-top: 300px;
  }
  .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .img {
    margin-bottom: 20px;
  }
}

.project-section > h1 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 40px;
  font-size: 3em;
  padding: 15px 40px;
  font-family: 'Cute Font', cursive;
  font-size: 3.5em;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row2 {
  margin-top: -80px;
}

.project {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project .face {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
          box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
}

.project .face a, .project .face p {
  margin: 0;
}

.project .face1 {
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .face1 h1 {
  color: white;
}

.project .face2 {
  background: white;
  position: relative;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.project .face2 .content {
  width: 90%;
  padding-top: 10px;
}

.project .face2 .content p {
  margin-bottom: 10px;
}

.project .face2 .content a {
  width: 100%;
  font-size: 1.2em;
  display: inline-block;
  background: lightskyblue;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}

.project .face2 .content a:hover {
  background: white;
  color: lightskyblue;
  border: 1px solid lightskyblue;
}

.project:hover .face1, .project:hover .face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project:hover .face1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.project:hover .face2 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.project1 .face1 {
  background: url("/images/restaurant.jpg");
  background-size: cover;
}

.project1 .face2 .content a {
  background: #af4f17;
}

.project1 .face2 .content a:hover {
  color: #af4f17;
  border: #af4f17 1px solid;
  background: white;
}

.contact-me-section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
          box-shadow: 0 10px 20px rgba(51, 28, 26, 0.8);
}

.contact-form h1 {
  font-family: 'Cute Font', cursive;
  font-size: 56px;
  margin: 0;
}

.contact-form .txtb {
  border: 1px solid white;
  border-radius: 20px;
  margin: 8px 0;
  padding: 12px 18px;
}

.contact-form .txtb label {
  display: block;
  font-size: 18px;
  text-align: left;
}

.contact-form .txtb input, .contact-form .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  color: white;
}

.contact-form button {
  width: 100%;
  padding: 5px 0;
  border: white 1px solid;
  border-radius: 20px;
  font-family: 'Cute Font', cursive;
  background: lightblue;
  color: white;
  font-size: 2em;
  margin-top: 10px;
}

.contact-form button:hover {
  cursor: pointer;
  background: white;
  color: lightblue;
}

footer {
  margin-top: 20px;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links {
  color: white;
  font-size: 20px;
  margin: 0 20px;
}

footer p {
  color: white;
  margin: 0;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*# sourceMappingURL=style.css.map */